---
- name: Install dependencies
  apt:
    name: [apt-transport-https, ca-certificates, curl, gnupg, lsb-release]
    update_cache: yes
    state: present

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present

- name: Install Docker Engine and Compose Plugin
  apt:
    name: [docker-ce, docker-ce-cli, containerd.io, docker-compose-plugin, python3-pip]
    update_cache: yes
    state: present

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Ensure Docker service is started and enabled
  service:
    name: docker
    state: started
    enabled: yes

- name: Wait for Docker socket to be available
  wait_for:
    path: /var/run/docker.sock
    state: present

- name: Create shared network for Traefik
  docker_network:
    name: web_net
    state: present